.general-container {
    display: flex; /* Utilizamos flexbox para alinear elementos */
    flex-direction: column; /* Alineación de las tarjetas en una columna */
    align-items: center; /* Centra las tarjetas horizontalmente */
    justify-content: center; /* Centra las tarjetas verticalmente */
    padding: 20px;
}

.music-card-container {
    width: 100%; /* Asegura que las tarjetas ocupen el 100% del ancho */
    display: flex;
    justify-content: center; /* Centra las tarjetas dentro del contenedor */
    margin-bottom: 20px; /* Espaciado entre las tarjetas */
}

/* Aquí puedes agregar otros estilos específicos para MusicCard si lo necesitas */
